@extends "base.html"


@block csslib
@endblock


@block css
@endblock


@block jslib
<script src="/static/vendor/jquery.form.min.js"></script>
@endblock


@block js
<script>
    $(function(){
        var $form = $('#form-add');

        $form.ajaxForm({
            beforeSubmit: function(){
            },
            error: function(){
                ns.show_dialog('提交失败，请稍后再试', '错误', 'ns-red');
            },
            success: function(res){
                if(res.err){
                    ns.show_dialog(res.msg, '错误', 'ns-red');
                }else{
                    ns.show_dialog('恭喜，提交成功。', '成功', 'ns-green');
                }
            }
        });
    });
</script>
@endblock


@block main
@from "components/widgets.html" import form_field as field, form_submit as submit
<div class="row-fluid">
    <section>
        <div class="page-header"><h3>{{ '添加' if stype == 'add' else '修改' }}Supervisor进程</h3></div>
        <div class="page-body">
            <form class="form-horizontal" id="form-add" method="post"
                action="{{ reverse_url('index') }}">

                <input type="hidden" name="action" value="{{ stype }}">
                <input type="hidden" name="id" value="{{ host.id }}">

                {{ field('用户名', name='user', focus=True, required=False,
                         placeholder='(选填)', value=host.user or '') }}

                {{ field('密码', name='pwd', type='password', required=False,
                         placeholder='(选填)', value=host.pwd or '') }}

                {{ field('地址', name='host', value=host.host or 'localhost',
                         help_inline='服务器的IP地址或者域名。示例：127.0.0.1或example.com') }}

                {{ field('端口', name='port', value=host.port or '9001') }}

                {{ submit() }}

            </form>
        </div>
    </section>
</div>
@endblock
