@extends "base.html"


@block csslib
@endblock


@block css
@endblock


@block jslib
<script src="/static/vendor/jquery.form.min.js"></script>
@endblock


@block js
<script>
    $(function(){
        var $form = $('#form-reset');

        $form.ajaxForm({
            beforeSubmit: function(){
                if($.trim($('#new').val()) != $.trim($('#confirm').val())){
                    ns.show_dialog('新密码与确认密码不一致', '错误', 'ns-red');
                    return false;
                }
            },
            error: function(){
                ns.show_dialog('修改失败，请稍后再试', '错误', 'ns-red');
            },
            success: function(res){
                if(res.err){
                    ns.show_dialog(res.msg, '错误', 'ns-red');
                }else{
                    ns.show_dialog('恭喜，修改成功。', '修改成功', 'ns-green');
                    $form.resetForm();
                }
            }
        });
    });
</script>
@endblock


@block main
@from "components/widgets.html" import form_field as field, form_submit as submit
<div class="row-fluid">
    <section>
        <div class="page-header"><h3>登录密码修改</h3></div>
        <div class="page-body">
            <form class="form-horizontal" id="form-reset" method="post"
                action="{{ reverse_url('reset-password') }}">

                {{ field('登录名称', value=handler.username, disabled=True) }}
                {{ field('原始密码', name='old', type='password', focus=True) }}
                {{ field('新的密码', name='new', type='password') }}
                {{ field('确认密码', name='confirm', type='password') }}

                {{ submit() }}

            </form>
        </div>
    </section>
</div>
@endblock
